/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.app-container {
  min-height: 100svh;
}

.app-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-page {
  padding: 20px;

  &--flex {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 1366px) {
      flex-direction: row;
    }
  }

  &__side {
    flex: 1;
    padding: 10px 0;
    @media screen and (min-width: 1366px) {
      padding: 0 10px;
    }
  }

  &__centered {
    flex: 1;
    padding: 10px 0;

    @media screen and (min-width: 1366px) {
      padding: 0 10px;
      flex: 3;
    }
  }
}
